#sidebar-wrapper.bg-light.border-right
  .sidebar-heading.text-center.pb-0 GLD Fundings
  .sidebar-heading.text-center Blog Management
  hr 
  .list-group.list-group-flush
    a.list-group-item.list-group-item-action.bg-light(href='/articles') Blog Articles