extends layout

block content
  h1.mt-4.text-center Welcome to GLD Fundings
  h1.mb-4.text-center Blog Management
  
  .container
    .row
      .col-lg-6.mx-auto
        .card
          .card-body
            a.btn.btn-success.btn-block(href="/articles") Blog Articles
