body {
  font-size: 1em;
  margin: 0;
  padding: 0;
}

.login-page-wrapper {
  height: 100vh;
  background: url('/img/background.jpg') no-repeat center;
  background-size: cover;
}

.login-card {
  background: white;
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 0px black;
  margin-top: 5em;
  text-align: center;
  overflow: hidden;
}

.login-card-heading {
  padding: 1em;
}

.login-card-body {
  padding: 1em;
}

body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.parsley-errors-list {
  margin-bottom: 0;
    list-style: none;
    padding: 0;
}

.parsley-errors-list li {
  text-align: left;
  font-weight: bold;
  font-size: 0.9em;
  color: darkred;
}

.small-image {
  width: 40px;
  height: 40px;
}